@import url('https://fonts.googleapis.com/css?family=Averia Gruesa Libre');
@import url('https://fonts.googleapis.com/css?family=Oleo Script Swash Caps');
*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
 }

 html{
   font-size: 62.5%;
   overflow-x: hidden;
}

section{
   padding:30px 20px;
} 



/* header start */
.header{
   padding:15px;
   border-style: solid;
   border-bottom-color: rgb(112, 57, 96);
   background-color: #ecdfec;
}

.header.active{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border:0;
}

.header .logo{
   font-size: 50px;
   color:rgb(3, 248, 146);
   text-shadow: 2px 2px 5px rgb(243, 5, 5);
   font-weight: bold;
   font-style: italic;
}

/* .header .logo span{
   color:rgb(255, 0, 0);
} */
.header .container .navbar{
   text-align: center;
}


.header .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color: rgb(243, 62, 49);
}

.header .navbar a:hover{
   color:#76b5d3;
   text-decoration: underline;
}

.header .user-box{
   position: absolute;
   top:120%; right:20px;
   background-color: white;
   border-radius: .50px;
   box-shadow: 5px 10px rgba(0,0,0,.1);
   border:.10px solid black;
   padding:20px;
   text-align: center;
   width: 30rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .user-box.active{
   display: inline-block;
}

.header .user-box p{
   font-size: 25px;
   color:#666;
   margin-bottom: 25px;
}

.header .user-box p span{
   color:#dc2222;
}

.header .user-box .delete-btn{
   margin-top: 0;
}


/* header end */



/* home start */
.home{
   background:url(../images/homenew.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.home .content{
   width: 55rem;
   padding:8rem;
}

.home .content h3{
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}

.home .content p{
   line-height: 2;
   font-size: 20px;
   color:var(--light-color);
   padding:1rem 0;
}

.link-btn:hover{
   background-color: rgb(185, 68, 201);
   color:rgb(240, 240, 240);
}

/* home end */




/* register start*/
.form1{
    height: 800px;
    padding:20px;
    background: url(../images/homenew.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .form1 form {
   padding: 30px;
   width: 500px;
   border-radius: 30px;
   box-shadow: 5px 10px rgba(19, 16, 16, 0.1);
   border: 5px solid #0c0d24e0;
   background-color: rgb(148, 134, 148);
   text-align: center;
   opacity: 0.85;
}
 
 .form1 form h3{
    font-size: 40px;
    margin-top: 0px;
    text-transform:capitalize;
    color:rgb(209, 26, 26);
 }
 
 .form1 form .box{
    width: 100%;
    border-radius: 10px;
    background-color: #f5f5f5;;
    padding:12px 14px;
    font-size: 18px;
    color:rgb(14, 12, 12);
    border:1px solid black;
    margin:10px 0;
 }
 
 .form1 form p{
    padding-top: 20px;
    font-size: 20px;
    color:black;
 }
 
 .form1 form p a{
    color:#da1c25;
    font-weight: bold;
 }
 
 .form1 form p a:hover{
    text-decoration: underline;
 }
 
 .home-btn,.link-btn{
   display: inline-block;
   margin-top: 15px;
   padding:10px 20px;
   cursor: pointer;
   color:white;
   font-size: 20px;
   border-radius: 10px;
   text-transform: capitalize;
}

.home-btn:hover{
   background-color: rgb(28, 1, 150);
   color:rgb(240, 240, 240);
}
.home-btn,.link-btn{
   background-color: rgb(0, 129, 168);
}

.reset-btn{
   margin-top: 5px;
   padding:2px 5px;
   color:rgb(236, 243, 242);
   font-size: 15px;
   border-radius: 5px;
}
.reset-btn:hover{
   background-color: rgb(255, 0, 0);
   color:rgb(255, 255, 255);
}
.reset-btn{
   background-color: rgb(212, 97, 97);
}

/* register end*/




/* login start*/

.logi{
   font-size: 20px;
   text-align: right;
   padding: 10px; 
   background-color:#4b123a;
}
.logi .media{
   text-align: left;
}
.logi a{
  
   padding: 5px;
   border-radius: 5px;
   border:5px solid #2d6bdf;
   color: white;
   width: 10px;
   background-color: rgb(255, 0, 0);
}

/* login end*/


/* about start */
.about .row{
   min-height: 50vh;
}

.about h2{
   font-size: 2rem;
   color: rgb(32, 17, 167);
}
.about{
    background:url(../images/dental-health.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
 }

.about h3{
   font-size: 30px;
   color:var(--black);
   margin-top: 4rem;
}

.about p{
   padding:1rem 0;
   font-size: 1.5rem;
   color:var(--light-color);
   line-height: 2;
}


.reviews{
    background-color: rgb(204, 222, 228);
 }
 
 .reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 
 .reviews .box-container .box{
    background-color: var(--white);
    text-align: center;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
 }
 
 .reviews .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
 }
 
 .about .reviews .box-container .box p{
    padding:2rem 0;
    line-height: 2;
    font-size: 1.5rem;
    color:var(--light-color);
    margin-bottom: 0;
 }
 
 .about .reviews .box-container .box .stars{
    padding:.5rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    margin-bottom: 2rem;
    display: inline-block;
 }
 
 .about .reviews .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--blue);
 }
 
 .about .reviews .box-container .box h3{
    font-size: 2rem;
    color:var(--black);
 }
 
 .about .reviews .box-container .box span{
    color:var(--light-color);
    font-size: 1.5rem;
 }

/* about end */

/* services start */
.services{
    background-color: var(--light-bg);
 }
 .services h1{
    text-align: center;
    font-size: 30px;
    color: rgb(163, 16, 16);
 }
 
 .services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap:2rem;
 }
 
 .services .box-container .box{
    text-align: center;
    padding:2rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
 }
 
 .services .box-container .box img{
    margin:1rem 0;
    height: 4rem;
 }
 
 .services .box-container .box h3{
    font-size: 2rem;
    padding:1rem 0;
    color:var(--black);
 }
 
 .services .box-container .box p{
    font-size: 1.5rem;
    color:var(--light-color);
    line-height: 2;
 }


/* services end */


/* footer start */
 .footer{
    background-color: rgb(103, 35, 112);
    background-size: cover;
    background-position: center;
    padding: 10px;

 }
 .footer p {
   font-size: 15px;
   font-weight: bold;
   font-style: italic;
   text-align: left;
   margin: 5px;
   color: rgb(241, 227, 227);
 }
 
 .footer .box-container{
    max-width: 1500px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    gap:50px;
 }
 .footer .box-container .box h3{
    text-transform: uppercase;
    color:rgb(165, 194, 201);
    font-size: 20px;
    padding-bottom: 5px;
    text-align: left;
 }

 .footer .box-container .box .media a{
    text-align: left;
    font-size:25px;
    color: rgb(97, 94, 255);
 }
 

/* footer end */


/* media queries  */

/* @media (max-width:991px){
 
   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .container .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header  .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header  .navbar a{
      display: block;
      font-size: 2.5rem;
      margin:2rem;
   }

   .home .content h3{
      font-size: 3.5rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading h3{
      font-size: 3.5rem;
   }

   .title{
      font-size: 30rem;
   }

} */
/* media queries  end*/